.coins-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-flow: row wrap; */
    gap: 1rem;
    margin: 0rem 1.5rem;
    margin-top: 0.5rem;
    /* margin: 1.5rem auto; */
 
  padding: 0rem 1rem;
  margin-right: 0;
  
}
@media only screen and (max-width:600px){

    .coins-flex{
        padding: 0rem;
        margin-left: 8px;
        gap: 0.5rem;
    }
   .coins-flex p{
    
        display: none;
   
   }
}
